<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ranked Voting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/d111aaec94.js" crossorigin="anonymous"></script>
    <title>Ranked Choice</title>
</head>

<body>
    <section class="container">
        <form action="">
            <div class="wrapper">
                <h2>Create a new election</h2>
            </div>
            <label for="title">Title</label>
            <input type="text" name="title" id="" placeholder="Enter a title for your election">
            <div class="inp-group">
                <label for="title">Option 1</label>
                <input type="text" name="title" id="" placeholder="Pizza">
                <label for="title">Option 2</label>
                <input type="text" name="title" id="" placeholder="Tacos">
                <label for="title">Option 3</label>
                <input type="text" name="title" id="" placeholder="Ramen">
            </div>
        </form>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>